* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: lightblue;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 10px;
}

/* index Page */
.nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.nav h2 {
    border: 2px dashed darkcyan;
    padding: 10px;
}

/* custom Property */
:root {
    --primary-color: lightblue;
    --BoxPrimary-color: lightpink;
    --BoxSecondary-color: lightcoral;
    --BoxTertiary-color: lightyellow;
    --container-width: 600px;
    --container-large: 1100px;

}

.container {
    display: flex;
    max-width: var(--container-width);
    margin: 30px auto;
    gap: 20px;
}

.box {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-1 {
    background-color: var(--BoxPrimary-color);
}

.box-2 {
    background-color: var(--BoxTertiary-color);
}

.box-3 {
    background-color: var(--BoxSecondary-color);
}

/* Filters */
.main-container {
    max-width: 900px;
    margin: 70px auto;
    padding: 20px;
    border: 1px solid black;
}

img {
    max-width: 100%;
    /* -webkit-filter: grayscale(100%);
    -moz-filter:grayscale(100%); 
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    filter: grayscale(100%); */
    filter: blur(3px);
    /* filter: brightness(50%); */
    /* filter: contrast(50%);
    filter: drop-shadow(10px 10px 5px red); */
    /* filter: hue-rotate(30deg); */
    /* filter: invert(100%); */
    /* filter: opacity(80%); */
    /* filter: saturate(80%);
    filter: sepia(100%); */

    /* chain Filter */
    /* filter: grayscale(100%) blur(3px); */

    /* reset */
    /* filter: none; */
}

/* calc */
.calc-container {
    background-color: black;
    width: var(--container-large);
    height: 200px;
    display: flex;
}

.item {
    height: calc(100% - 20px);
    min-width: calc(calc(100% / 5)-20px);
    margin: 10px;
    /* width: calc(var(--container-large) - 15rem); */
    background-color: coral;
}
